.myBox {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.master-wrap {
  margin-bottom: 350px !important;
}

/* ====================================== HomePage css ================================= */

.card-hover {
  filter: brightness(0.9);
}
.card-hover:hover {
  transition: all 0.5s;
  filter: contrast(1.2);
  filter: brightness(1.1);
}
.card-hover .MuiCardMedia-img:hover {
  transition: all 0.5s;
  filter: contrast(1.2);
  filter: brightness(1.1);
  /* transform: scale(1.2) !important; */
}

/* =================================  ViewCard Page  ==================================================== */
/* * {
  border: solid black 1px;
} */

.left-box {
  margin-right: 30px;
  min-width: 235px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.view-main-wrap {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
  height: 70vh !important;
}

.avatar-wrap {
  display: flex !important;
  justify-content: center !important;
}

.add-button {
  display: inline-block;
  transform: translateY(50vh) !important;
  transform: translateX(70vw) !important;
  position: fixed !important;
}

/* ====================================  infoPage  ================================== */

.user-info-wrap {
  margin-left: 7%;
}
/* =================================== sign Page ====================================*/
.sign-field {
  margin: 2px !important;
  width: 100%;
}

/* ===================== Icons ==================== */

.user-icon {
  width: 35px !important;
  height: 35px !important;
}

.logo {
  filter: brightness(1);
}
.logo:hover {
  transition: all 1s;
  filter: brightness(1.3);
  transform: translateX(-2px);
}

/* Styles for screens up to 768px wide */

@media (max-width: 600px) {
  .myBox {
    width: 90vw;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-direction: column;
  }

  .master-wrap {
    margin-left: 24px;
    margin-bottom: 350px !important;
  }
  .view-main-wrap {
    flex-direction: column !important;
  }
  .user-info-wrap {
    margin-left: -4%;
  }
}

/* Styles for screens between 768px and 992px wide */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* Styles for screens wider than 992px */
@media screen and (min-width: 992px) {
  .mainPageWrap {
    margin-left: 8vw !important;
  }

  .mainPageStyle {
    margin-left: 10% !important;
  }
}
